#dashboard{
    padding: 1rem;
    background-color: hsl(0, 0, 95%);
}

#dashboard-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
}

#summary-section{
    padding: 1.2rem;
    background-color: hsl(0, 0, 95%);
    display: flex;
    flex-direction: column;
    gap: 2rem;  
    width: 100%;
}

#map-section{
    padding: 1.2rem;
    background-color: hsl(0, 0%, 98%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;  
    width: 100%;
}


