#value-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

#value-card{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid hsl(0, 0%, 90%);
}

#value-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 5%);
}

#value-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 30%);
    line-height: 1.5;
}