#final-section{
    padding: 5rem 1.5rem;
    text-align: center;
    background-color: hsl(108, 100%, 84%);
}

#title{
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    color: hsl(0, 0%, 5%);
    margin-bottom: 1rem;
}

#subtitle{
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 400;
    color: hsl(0, 0%, 20%);
    margin-bottom: 2rem;
}

#button-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
