#hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 0 20px;
}

#hero-title{
    font-size: clamp(2.6rem, 5vw, 3.6rem);
    font-weight: 700;
    line-height: 1.2;
    color: rgb(0, 0, 5%);
    margin-bottom: 1rem;
}

#hero-subtitle{
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0, 0%, 30%);
    margin-bottom: 2rem;
    max-width: 900px;
}

#button-div{
    display: flex;
    gap: 1rem;
}

#ride-button{
    padding: 0.75rem 1.5rem;
    background-color: hsl(106, 83%, 43%);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#ride-button:hover{
    background-color: hsl(106, 83%, 38%);
}

#host-button{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 5%);
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border:  1px solid hsl(0, 0%, 90%);
}

#host-button:hover{
    background-color: hsl(0, 0%, 95%);
}

