#user-info h2 {
    font-size: 1.5rem;
    color: hsl(0, 0%, 22%);
    margin-bottom: 1.5rem;
}

#user-info p {
    font-size: 1rem;
    color: hsl(0, 0%, 25%);
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}