#summary-container{
    padding: 1.2rem;
    background-color: hsl(0, 0, 90%);
    display: flex;
    flex-direction: row;
    gap: 2rem;  
    width: 100%;
}

#summary-card{
    background-color: hsl(0, 0, 100%);
    border: 1px solid hsl(210, 15%, 85%);
    border-radius: 6px;
    padding: 1.2rem;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#card-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: hsl(210, 15%, 35%);
}

#card-value{
    font-size: 24px;
    font-weight: bold;
    color: #007BFF;
}

#login-message{
    padding: 0.75rem 1.5rem;
    background-color: hsl(106, 83%, 43%);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: fit-content;
    align-self: center;
}

#login-message:hover{
    background-color: hsl(106, 83%, 38%);
}

