#working-section{
    padding-top: 4rem;
}

#working-section h3{
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-weight: 700;
    text-align: center;
    color: hsl(0, 0%, 20%);
}

#working-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 3rem;
}

#working-step{
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid hsl(0, 0%, 90%);
}

#step-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(115, 61%, 44%);
    margin-bottom: 1rem;
}

#step-description{
    font-size: 1rem;
    font-weight: 400;
    color: hsl(0, 0%, 30%);
    line-height: 1.5;
}

